/*! for mobile */
@media only screen  and (max-width:450px) {
    /* * global */
    body {
        box-sizing: border-box;
        padding: 62px 24px;
    }
      h5, h6 {
        font-size: 15px !important;
    }

     p {
        margin-top: 12px;
    }
   
    /*^ etherium */

    .etherium-info-container {
        margin-block: 16px;
    }

    /** design author */
    .author-of-design {
    padding: 0;
    }

}